ROOSTOO_API_KEY=pmnVxBEXESGFNnMwk9hPhxQ1wCsNKXL4l4uLL4a9TxXboQm8GF1KOSmGiOREhKbI
ROOSTOO_SECRET_KEY=2igKiIfuBvBuOhdmb6VXy7kF2lJ3qsmSx0YZHZmNIl2608ArtC5IKML68PwHKGo0
ROOSTOO_BASE_URL=https://mock-api.roostoo.com
ROOSTOO_PAIR=BTC/USD
ROOSTOO_ORDER_QUANTITY=1
ROOSTOO_POLL_INTERVAL=60
ROOSTOO_HISTORY_SIZE=20
ROOSTOO_ENABLE_TRADING=false
